body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#post-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

#post-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
;
}

#post-list li:hover {
    background-color: #b6b4b4;;
}

#post-list li strong {
    color: #007BFF;
}
